# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

*.pdb
*.dll
*.suo
*.cache
*.exe
*.user
*/bin/
!/_lib/*.dll
Thumbs.db
.project
.settings/
*.pidb
*.userprefs
VersionInfo.cs
.DS_Store
/.idea
/*/.idea