<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="XmlSource" connectionString="Server=(local);Database=Northwind;Trusted_Connection=Yes;Application Name=DatabasePoller;" />
  </connectionStrings>
  <appSettings>
    <add key="Query" value="SELECT ProductName, UnitsInStock FROM Products WHERE Discontinued = 1 AND UnitsInStock > 0 FOR XML AUTO, ROOT('root')" />
    <!--How often to query the database, in mintues-->
    <add key="QueryInterval" value="60"/> 
    <add key="DropPoint" value="C:\DatabasePoller.DropPoint" />
  </appSettings>
</configuration>